* {
	margin: 0;
	padding: 0;
}
#wrapper {
	width: 950px;
	background-color: silver;
	margin: 0px auto;
	padding: 20px;
}
#header {
	min-height: 150px;
	background-color: green;
	display: block;
}
#navigation {
	position: relative;
	min-height: 300px;
	width: 200px;
	background-color: blue;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}
#main_content {
	min-height: 400px;
	width: 700px;
	background-color: red;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 46px;
}
.subcontents {
	min-height: 200px;
	width: 210px;
	background-color: yellow;
	display: inline-block;
	margin: 10px;
}
#advertisement {
	min-height: 120px;
	width: 660px;
	background-color: purple;
	display: inline-block;
	margin: 10px;
}
