* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #1b345d;
}
#wrapper {
	width: 970px;
	margin: auto;
	height: 100%;
	padding: 10px;
}
#header {
	display: block;
	border-radius: 10px;
	background-color: #cf3036;
	height: 80px;
	margin-bottom: 20px;
}
#header > h1 {
	color: white;
	padding: 20px;
}
#content {
	display: inline-block;
}
#navigation_content {
	padding: 40px;
}
#navigation {
	display: inline-block;
	background: rgba(42, 125, 140, 0.8);
	width: 280px;
	border-radius: 20px;
	vertical-align: top;
	color: white;
	height: 100%;
}
#main_content {
	display: inline-block;
	background-color: #0e1822;
	opacity: 0.95;
	color: white;
	padding: 40px;
	width: 580px;
	border-radius: 20px;
	vertical-align: top;
	margin-left: 25px;
}
#parent_ul {
	margin-left: 20px;
}
#sub_ul {
	padding-left: 20px;
}
#navigation a:visited {
	color: #56d4df;
}
#main_content > h1 {
	padding-bottom: 10px;
}
#main_content > p {
	text-align: justify;
	padding-bottom: 10px;
}
#main_content > ul {
	padding-left: 20px;
}
#main_content > ul > li {
	margin-bottom: 10px;
	text-align: justify;
}
#main_content a:visited {
	color: #56d4df;
}
#footer {
	background-color: #5d6673;
	border-radius: 20px;
	height: 20px;
	padding: 20px;
	color: white;
	margin-top: 20px;
}
#footer > h4 {
	vertical-align: middle;
}
#footer a:visited {
	color: #56d4df;
}
.highlighted {
	color: #7786f1;
}
